<h3>Game: <%= game.name %></h3>
<% if notice %>
  <%= notice %>
<% end %>
<%= link_to 'Add a friend', new_game_friend_path(game) %><br/>
<h4>Friends invited:</h4>
<% unless friends.empty? %>
  <ul>
  <% friends.each do |f| %>
    <li><%= f.name %> (<%= f.email %>)</li>
  <% end %>
  </ul>
<% else %>
  No friends invited yet.
<% end %>
