<h3>New friend</h3>
<%= form_for invitation_manager, url: game_friends_path do |f| %>
  <%= error_messages_for(invitation_manager) %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="action">
    <%= f.submit 'Add to Game' %>
  </div>
<% end %>
